.root{
    height:100vh;
}
.paper{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:78px;
}
.avatar {
    background-color: #f48fb1;
}
.form{
    width:100%
}
.submit{

}
.login-background {
    background-color: #e6dfdf;
}
.image {
    background-image: url("https://source.unsplash.com/user/alex_serban7/likes");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
}
.margin-left-40{
    margin-left:50px !important;
}
.sign-up {
    width: 810px;
    margin-left: 50px !important;
}
.error{
    color:red;
    text-align:center;
}
.d-none{
    display:none;
}
.success {
    color: green;
    text-align: center;
}
