<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="emailSettings" type="System.Configuration.NameValueFileSectionHandler" />
        <section name="jwtSettings" type="System.Configuration.NameValueFileSectionHandler" />
    </configSections>
    <emailSettings>
        <add key="SmtpHost" value="" />
        <add key="Port" value="25" />
        <add key="FromAddress" value="" />
        <add key="Username" value="" />
        <add key="Password" value="" />
        <add key="UseSSL" value="false" />
        <add key="InternalNotificationEmail" value="" />
        <add key="InternalNotificationEmailLang" value="EN-EN" />
    </emailSettings>
    <jwtSettings>
        <add key="ExpirationMinutes" value="5" />
        <add key="SigningKey" value="yy-iX2KJwbNYNMoaI6gGLgVWpgO_R8C3fk2eYA9iWnQzhFGAXwHL4eLT5s_mQnYjFWYOwiK_u27G-7C3cezSgCalR64-sNqs67IlACM-_WXf3_ERkdMDbFINjOP29on0nqtGDsph2xKlkdAk_r1BtgTonQZvISZCrj02j6nFmc8" />
        <add key="EncryptyingSecurityKey" value="4kiDQmjU1G_v-89E62zDuqYFxSWfyHFlLyz_Z7SX2Xv4pyzpkJylDU7BcQOApb95k1QFQUahh3hGAE1sQIIfR3kfVbXDUeQKD1NR8szYKr_j14VqWW4VO983diZ4f_aN7mysYfDmyOK3lCx4iEbfmizltFRUllbNVV0JsXdP2ms" />
        <add key="Issuer" value="AuthenticationServer" />
        <add key="Audience" value="FileDrop" />
    </jwtSettings>
    <appSettings>
        <add key="ExpirationMinutes" value="5" />
        <add key="SigningKey" value="yy-iX2KJwbNYNMoaI6gGLgVWpgO_R8C3fk2eYA9iWnQzhFGAXwHL4eLT5s_mQnYjFWYOwiK_u27G-7C3cezSgCalR64-sNqs67IlACM-_WXf3_ERkdMDbFINjOP29on0nqtGDsph2xKlkdAk_r1BtgTonQZvISZCrj02j6nFmc8" />
        <add key="EncryptyingSecurityKey" value="4kiDQmjU1G_v-89E62zDuqYFxSWfyHFlLyz_Z7SX2Xv4pyzpkJylDU7BcQOApb95k1QFQUahh3hGAE1sQIIfR3kfVbXDUeQKD1NR8szYKr_j14VqWW4VO983diZ4f_aN7mysYfDmyOK3lCx4iEbfmizltFRUllbNVV0JsXdP2ms" />
        <add key="Issuer" value="AuthenticationServer" />
        <add key="Audience" value="FileDrop" />
    </appSettings>
</configuration>